<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin pannel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://kit.fontawesome.com/70d4216fe1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin-pannel.css">
</head>
<body style="background-color: whitesmoke;">
    <%- include("partials/addsub.ejs") %>
    <%- include("partials/viewqst.ejs") %>
    <%- include("partials/viewresult.ejs") %>
    <div class="container-fuild" style="max-width: 99vw;">
        <div class="row">
            <!-- side-bar -->
            <div class="col-7 d-none d-sm-block col-sm-2 main-sidebar">
                <div class="container">
                    <div class="row" style="color: white;">
                        <div style="border-bottom:0.1rem solid #b7c0c8;" class="col mb-3">
                            <p style="position: relative;" class="text-center pt-3"><span class="main-logo"><svg style="fill: rgb(83 122 180)" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="M276-351q-12-7-19.5-19.642Q249-383.283 249-399v-147l-55-31q-7-4-11-9.85t-4-13q0-7.15 4-13.15t11-10l259.256-143.243Q460-769 466.914-770.5 473.828-772 480-772q6.172 0 13.086 1.5 6.914 1.5 12.699 4.232L798-608q6 4 10 10.333 4 6.334 4 13.667v208q0 4.675-3.228 7.838-3.228 3.162-8 3.162T793-368.162q-3-3.163-3-7.838v-211l-79 41v147q0 15.717-7.5 28.358Q696-358 683-351l-177 96q-6 4-12.914 5.5T480-248q-6.172 0-13.086-1.5Q460-251 453-255l-177-96Zm192-100q6 4 12 4t13-4l272-149-272-147q-7-4-13-4t-12 4L195-600l273 149Zm-1 179q6 4 12.5 4t13.5-4l181-99q8-4 11.5-11t3.5-17v-133l-183 99q-6 3-12.5 4.5T480-427q-7 0-13.5-1.5T454-433L271-533v134q0 9 3.5 16.5T286-371l181 99Zm13-174Zm0 42Zm0 0Z"/></svg></span>
                                <b>Q&A ADMIN</b></p>
                        </div>
                    </div>

                    <div class="row" style="color: white;">
                        <div style="border-bottom:0.1rem solid #b7c0c8;" class="col pb-2">
                            <h class="text-center"><svg style="margin-bottom: 0.4rem;" xmlns="http://www.w3.org/2000/svg" height="1.2em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm320 96c0-26.9-16.5-49.9-40-59.3V88c0-13.3-10.7-24-24-24s-24 10.7-24 24V292.7c-23.5 9.5-40 32.5-40 59.3c0 35.3 28.7 64 64 64s64-28.7 64-64zM144 176a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm-16 80a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64zM400 144a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                                <b>
                                    Dashboard
                                </b>
                            <h6>
                        </div>
                    </div>
                    <div class="row mt-4 mb-3">
                        <div class="col" style="border-bottom: 2px solid #b7c0c8;">
                            <p>Menu <span class="mx-3"><svgg xmlns="http://www.w3.org/2000/svg" height="15" viewBox="0 -960 960 960" width="15"><path d="M437.239-286.652v-153.913q0-33.807-23.705-57.512-23.705-23.706-57.513-23.706H128.935q-35.72 0-60.86-25.14t-25.14-60.86V-795.13q0-17.653 12.673-30.327 12.675-12.674 30.327-12.674t30.326 12.674q12.674 12.674 12.674 30.327v187.347h227.086q37.588 0 69.207 14.696 31.62 14.696 55.011 40.348 23.391-25.652 55.011-40.348 31.62-14.696 69.207-14.696h226.608V-795.13q0-17.653 12.674-30.327 12.674-12.674 30.326-12.674 17.653 0 30.326 12.674 12.674 12.674 12.674 30.327v187.347q0 35.72-25.286 60.86-25.287 25.14-61.214 25.14H604.457q-33.807 0-57.513 23.706-23.705 23.705-23.705 57.512v153.913l31.631-31.131q12.434-11.935 28.858-11.695 16.424.239 29.837 13.152 13.174 13.413 13.174 30.565t-13.174 30.326l-103 103q-12.992 13.174-30.355 13.055-17.362-.12-30.536-13.055l-104-104q-12.913-12.913-12.555-30.185.359-17.271 13.511-31.163 12.435-12.435 29.49-12.435 17.054 0 29.489 12.435l31.63 31.131Z"/></svg></span></p>
                        </div>
                    </div>
                    <div style="border-bottom: 1px solid;">
                        <div class="row pb-3 mb-3">
                            <div class="col">
                                <div><svg style="fill: whitesmoke;" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M479.944-183.234q-11.79 0-23.088-4.093-11.298-4.092-21.24-11.368L182.925-394.848q-11.769-8.923-11.654-23.423.115-14.499 12.013-23.73 8.179-6.154 18.071-6.154 9.891 0 18.261 6.077L472.307-246.54q3.462 2.692 7.693 2.692t7.693-2.692l252.691-195.538q8.37-6.077 18.261-6.077 9.892 0 18.071 6.154 11.898 9.231 12.013 23.73.115 14.5-11.654 23.423L524.384-198.695q-9.976 7.276-21.313 11.368-11.337 4.093-23.127 4.093Zm.033-177.383q-11.823 0-23.121-4.093-11.298-4.092-21.24-11.368L189.525-567.38q-7.292-5.466-10.907-13.086-3.616-7.62-3.616-15.688 0-8.134 3.616-15.817 3.615-7.682 10.846-13.105L435.441-816.18q10.021-7.28 21.39-11.395 11.368-4.115 23.192-4.115 11.823 0 23.121 4.092 11.298 4.093 21.24 11.369l246.092 191.302q7.291 5.466 10.906 13.086 3.616 7.619 3.616 15.687 0 8.135-3.616 15.818-3.615 7.682-10.846 13.105L524.56-376.128q-10.022 7.28-21.391 11.396-11.368 4.115-23.192 4.115Z"/></svg>
                                    <span class="sub-title-setup sub1"><b>Subject</b><span class="float-end"><svg class="closed1" style="fill: whitesmoke;" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="M480-251.412 333.978-105.39Q319.087-90.5 298.75-90.75q-20.337-.25-35.294-14.956-14.957-14.707-14.957-35.294 0-20.587 14.924-35.511L408.912-322q29.271-29.413 71.017-29.413 41.745 0 71.159 29.413l145.489 145.489q14.924 14.924 14.924 35.511 0 20.587-14.957 35.294Q681.587-90.999 661-90.999q-20.587 0-35.445-14.858L480-251.412Zm0-457.176L626.022-854.61q14.891-14.891 35.228-14.641 20.337.25 35.294 14.957 14.957 14.707 14.957 35.294 0 20.587-14.924 35.511L551.088-638q-29.271 29.413-71.017 29.413-41.745 0-71.159-29.413L263.423-783.489Q248.499-798.413 248.499-819q0-20.587 14.957-35.294 14.957-14.707 35.544-14.707 20.587 0 35.445 14.858L480-708.588Z"/></svg><svg class="open1 hide" style="fill: whitesmoke;" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="m480-213.523 146.021-144.956q14.892-14.391 35.294-14.641 20.403-.25 35.294 14.641 14.892 14.892 14.892 35.512 0 20.619-14.892 35.511L551.088-142Q521.674-112.587 480-112.587q-41.674 0-71.088-29.413L263.456-287.456q-14.891-14.892-14.924-35.511-.033-20.62 14.859-35.512 14.891-14.391 35.511-14.641 20.62-.25 35.511 14.641L480-213.523Zm0-532.954L333.913-601.456q-14.891 14.391-35.293 14.674-20.403.283-35.294-14.674-14.892-14.892-14.859-35.511.032-20.62 14.924-35.512L408.912-818q29.414-29.413 71.088-29.413 41.674 0 71.088 29.413l145.521 145.521q14.892 14.892 14.924 35.512.033 20.619-14.859 35.511-14.891 14.457-35.544 14.674-20.652.217-35.543-14.674L480-746.477Z"/></svg></span></span>
                                    <div class="mt-3 sub-title-setup-child-cont sub-t-1" style="margin-left: 3rem;padding:0 0.5rem;border-left: 0.02rem dotted #b7c0c8;">
                                        <div id="addsub-rev" class="sub-title-setup-child mb-1">Add subject <span style="float: right;color: white;"><b><i class="fa-solid fa-chevron-right"></i></b></span></div>
                                        <div class="sub-title-setup-child">View subject <span style="float: right;color: white;"><b><i class="fa-solid fa-chevron-right"></i></b></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pb-3 mb-3">
                            <div class="col">
                                <div><svg style="fill: whitesmoke;" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M479.944-183.234q-11.79 0-23.088-4.093-11.298-4.092-21.24-11.368L182.925-394.848q-11.769-8.923-11.654-23.423.115-14.499 12.013-23.73 8.179-6.154 18.071-6.154 9.891 0 18.261 6.077L472.307-246.54q3.462 2.692 7.693 2.692t7.693-2.692l252.691-195.538q8.37-6.077 18.261-6.077 9.892 0 18.071 6.154 11.898 9.231 12.013 23.73.115 14.5-11.654 23.423L524.384-198.695q-9.976 7.276-21.313 11.368-11.337 4.093-23.127 4.093Zm.033-177.383q-11.823 0-23.121-4.093-11.298-4.092-21.24-11.368L189.525-567.38q-7.292-5.466-10.907-13.086-3.616-7.62-3.616-15.688 0-8.134 3.616-15.817 3.615-7.682 10.846-13.105L435.441-816.18q10.021-7.28 21.39-11.395 11.368-4.115 23.192-4.115 11.823 0 23.121 4.092 11.298 4.093 21.24 11.369l246.092 191.302q7.291 5.466 10.906 13.086 3.616 7.619 3.616 15.687 0 8.135-3.616 15.818-3.615 7.682-10.846 13.105L524.56-376.128q-10.022 7.28-21.391 11.396-11.368 4.115-23.192 4.115Z"/></svg>
                                    <span class="sub-title-setup sub2"><b>Question</b><span class="float-end"><svg class="closed2" style="fill: whitesmoke;" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="M480-251.412 333.978-105.39Q319.087-90.5 298.75-90.75q-20.337-.25-35.294-14.956-14.957-14.707-14.957-35.294 0-20.587 14.924-35.511L408.912-322q29.271-29.413 71.017-29.413 41.745 0 71.159 29.413l145.489 145.489q14.924 14.924 14.924 35.511 0 20.587-14.957 35.294Q681.587-90.999 661-90.999q-20.587 0-35.445-14.858L480-251.412Zm0-457.176L626.022-854.61q14.891-14.891 35.228-14.641 20.337.25 35.294 14.957 14.957 14.707 14.957 35.294 0 20.587-14.924 35.511L551.088-638q-29.271 29.413-71.017 29.413-41.745 0-71.159-29.413L263.423-783.489Q248.499-798.413 248.499-819q0-20.587 14.957-35.294 14.957-14.707 35.544-14.707 20.587 0 35.445 14.858L480-708.588Z"/></svg><svg class="open2 hide" style="fill: whitesmoke;" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="m480-213.523 146.021-144.956q14.892-14.391 35.294-14.641 20.403-.25 35.294 14.641 14.892 14.892 14.892 35.512 0 20.619-14.892 35.511L551.088-142Q521.674-112.587 480-112.587q-41.674 0-71.088-29.413L263.456-287.456q-14.891-14.892-14.924-35.511-.033-20.62 14.859-35.512 14.891-14.391 35.511-14.641 20.62-.25 35.511 14.641L480-213.523Zm0-532.954L333.913-601.456q-14.891 14.391-35.293 14.674-20.403.283-35.294-14.674-14.892-14.892-14.859-35.511.032-20.62 14.924-35.512L408.912-818q29.414-29.413 71.088-29.413 41.674 0 71.088 29.413l145.521 145.521q14.892 14.892 14.924 35.512.033 20.619-14.859 35.511-14.891 14.457-35.544 14.674-20.652.217-35.543-14.674L480-746.477Z"/></svg></span></span>
                                    <div class="mt-3 sub-title-setup-child-cont sub-t-2" style="margin-left: 3rem;padding:0 0.5rem;border-left: 0.02rem dotted #b7c0c8;">
                                        <a href="/addQuestion"><div  class="sub-title-setup-child mb-1">Add question <span style="float: right;color: white;"><b><i class="fa-solid fa-chevron-right"></i></b></span></div></a>
                                        <div id="viewqst-rev" class="sub-title-setup-child">View question <span style="float: right;color: white;"><b><i class="fa-solid fa-chevron-right"></i></b></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pb-3 mb-3">
                            <div class="col">
                                <div><svg style="fill: whitesmoke;" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M479.944-183.234q-11.79 0-23.088-4.093-11.298-4.092-21.24-11.368L182.925-394.848q-11.769-8.923-11.654-23.423.115-14.499 12.013-23.73 8.179-6.154 18.071-6.154 9.891 0 18.261 6.077L472.307-246.54q3.462 2.692 7.693 2.692t7.693-2.692l252.691-195.538q8.37-6.077 18.261-6.077 9.892 0 18.071 6.154 11.898 9.231 12.013 23.73.115 14.5-11.654 23.423L524.384-198.695q-9.976 7.276-21.313 11.368-11.337 4.093-23.127 4.093Zm.033-177.383q-11.823 0-23.121-4.093-11.298-4.092-21.24-11.368L189.525-567.38q-7.292-5.466-10.907-13.086-3.616-7.62-3.616-15.688 0-8.134 3.616-15.817 3.615-7.682 10.846-13.105L435.441-816.18q10.021-7.28 21.39-11.395 11.368-4.115 23.192-4.115 11.823 0 23.121 4.092 11.298 4.093 21.24 11.369l246.092 191.302q7.291 5.466 10.906 13.086 3.616 7.619 3.616 15.687 0 8.135-3.616 15.818-3.615 7.682-10.846 13.105L524.56-376.128q-10.022 7.28-21.391 11.396-11.368 4.115-23.192 4.115Z"/></svg>
                                    <span class="sub-title-setup sub3"><b>Examination</b><span class="float-end"><svg class="closed3" style="fill: whitesmoke;" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="M480-251.412 333.978-105.39Q319.087-90.5 298.75-90.75q-20.337-.25-35.294-14.956-14.957-14.707-14.957-35.294 0-20.587 14.924-35.511L408.912-322q29.271-29.413 71.017-29.413 41.745 0 71.159 29.413l145.489 145.489q14.924 14.924 14.924 35.511 0 20.587-14.957 35.294Q681.587-90.999 661-90.999q-20.587 0-35.445-14.858L480-251.412Zm0-457.176L626.022-854.61q14.891-14.891 35.228-14.641 20.337.25 35.294 14.957 14.957 14.707 14.957 35.294 0 20.587-14.924 35.511L551.088-638q-29.271 29.413-71.017 29.413-41.745 0-71.159-29.413L263.423-783.489Q248.499-798.413 248.499-819q0-20.587 14.957-35.294 14.957-14.707 35.544-14.707 20.587 0 35.445 14.858L480-708.588Z"/></svg><svg class="open3 hide" style="fill: whitesmoke;" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18"><path d="m480-213.523 146.021-144.956q14.892-14.391 35.294-14.641 20.403-.25 35.294 14.641 14.892 14.892 14.892 35.512 0 20.619-14.892 35.511L551.088-142Q521.674-112.587 480-112.587q-41.674 0-71.088-29.413L263.456-287.456q-14.891-14.892-14.924-35.511-.033-20.62 14.859-35.512 14.891-14.391 35.511-14.641 20.62-.25 35.511 14.641L480-213.523Zm0-532.954L333.913-601.456q-14.891 14.391-35.293 14.674-20.403.283-35.294-14.674-14.892-14.892-14.859-35.511.032-20.62 14.924-35.512L408.912-818q29.414-29.413 71.088-29.413 41.674 0 71.088 29.413l145.521 145.521q14.892 14.892 14.924 35.512.033 20.619-14.859 35.511-14.891 14.457-35.544 14.674-20.652.217-35.543-14.674L480-746.477Z"/></svg></span></span>
                                    <div class="mt-3 sub-title-setup-child-cont sub-t-3" style="margin-left: 3rem;padding:0 0.5rem;border-left: 0.02rem dotted #b7c0c8;">
                                        <div  class="sub-title-setup-child mb-1">Create exam <span style="float: right;color: white;"><b><i class="fa-solid fa-chevron-right"></i></b></span></div>
                                        <div class="sub-title-setup-child mb-1">View exam <span style="float: right;color: white;"><b><i class="fa-solid fa-chevron-right"></i></b></span></div>
                                        <div id="viewresult-rev" class="sub-title-setup-child">View result <span style="float: right;color: white;"><b><i class="fa-solid fa-chevron-right"></i></b></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row support">
                        <div class="col">
                            <div><span><i class="fa-solid fa-headset"></i> </span>Support  <br> <span class="email-cont">Tel:090800000</span><br>
                                <span class="email-cont"><a href="mailto:chuckiedonald@gmail.com">email: chuckiedonald@gmail.com</span></a></div>
                            
                        </div>
                    </div>
                
                </div>
            </div>

            <!-- main section column -->
            <div class="col-12 col-sm-10" style="height: 100vh;">
                <div class="container-fuild">
                    <div style="padding: 0.6rem 0;" class="row shadow-sm backgrd">
                        <div class="col-4">
                            <div style="position: relative;"><input class="search" type="text" placeholder="search record"><span class="search-icon-cont"><svg class="search_icon" xmlns="http://www.w3.org/2000/svg" height="25" viewBox="0 -960 960 960" width="25"><path d="M379.692-339.847q-102.009 0-172.773-70.744-70.764-70.743-70.764-171.845t70.743-171.845q70.744-70.744 171.992-70.744 101.249 0 171.974 70.744 70.725 70.743 70.725 171.852 0 42.301-14.385 81.839-14.385 39.539-40.538 70.692l239.077 238.001q7.231 6.934 7.423 17.89.192 10.955-7.423 18.442t-18.378 7.487q-10.764 0-18.083-7.615l-238.41-238.411q-29.899 25.866-69.407 40.061-39.508 14.196-81.773 14.196Zm-.41-50.255q80.406 0 136.229-55.962 55.823-55.961 55.823-136.372 0-80.41-55.823-136.372-55.823-55.962-136.229-55.962-80.748 0-136.81 55.962T186.41-582.436q0 80.411 56.062 136.372 56.062 55.962 136.81 55.962Z"/></svg></span>
                            </div>
                        </div>

                        <div class="col col-sm-8">
                            <div class="float-end px-3">
                                <svg style="fill: rgb(227 176 176);margin-right:2rem" xmlns="http://www.w3.org/2000/svg" height="25" viewBox="0 -960 960 960" width="25"><path d="M760-639.487q-43.871 0-74.499-30.628-30.628-30.628-30.628-74.499 0-43.872 30.628-74.5T760-849.742q43.871 0 74.499 30.628 30.628 30.628 30.628 74.5 0 43.871-30.628 74.499-30.628 30.628-74.499 30.628ZM162.565-180.001q-25.846 0-44.205-18.359-18.359-18.359-18.359-44.205v-474.87q0-25.846 18.359-44.205 18.359-18.359 44.205-18.359h415.538q-2.436 12.436-3.038 24.936-.603 12.499.782 25.319 2.82 32.718 16.115 61.513 13.294 28.795 35.064 51L480-521.077 185.461-712.642q-9.82-6.435-20.397-1.384-10.577 5.051-11.73 16.717-1.539 5.974 1.089 11.756t7.987 9.192l300.693 196.693Q471-474.463 480-474.463q9 0 17.154-5.205l166.768-109.076q20.795 14.052 45.013 21.654 24.218 7.603 51.065 7.603 26.897 0 52.371-8.038 25.474-8.038 47.628-23.448v348.408q0 25.846-18.359 44.205-18.359 18.359-44.205 18.359h-634.87Z"/></svg>
                                <span><%= adminName %></span> 
                                <% if(profilePic !== null){ %>
                                    <span><img class="propic ms-1" src="<%= profilePic %>" alt=""></span>
                                <% }else{ %>
                                    <svg style="fill: rgb(227 176 176);" xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30"><path d="M241-257q56-38.333 113.53-59.666Q412.061-338 480.03-338q67.97 0 125.137 21.334 57.166 21.333 114.5 59.666 41.666-46.667 65-101.891Q808-414.114 808-480q0-136-96-232t-232-96q-136 0-232 96t-96 232q0 65.886 23.333 121.109Q198.667-303.667 241-257Zm238.886-195q-54.553 0-91.886-37.447-37.333-37.448-37.333-92 0-54.553 37.447-91.886t92-37.333q54.553 0 91.886 37.447t37.333 92q0 54.552-37.447 91.885-37.447 37.334-92 37.334Zm.426 341.333q-76.979 0-143.989-28.763t-117.333-79.5q-50.323-50.737-79.323-117.414-29-66.677-29-144 0-75.989 29.14-142.931 29.141-66.943 79.465-117.737 50.324-50.795 117.037-79.558 66.712-28.763 144.035-28.763 75.989 0 142.931 29.14 66.943 29.141 117.5 79.5 50.558 50.36 79.558 117.3 29 66.941 29 143.081 0 76.979-28.763 143.989T741.012-219.13q-50.794 50.182-117.677 79.323-66.883 29.14-143.023 29.14ZM480-152q53.667 0 109.167-19.333 55.5-19.334 97.833-56.334-42.057-31.978-95.362-50.489Q538.333-296.667 480-296.667q-58.333 0-112 18t-93.667 51.203q41 36.535 96.5 56Q426.333-152 480-152Zm.093-341.333q36.574 0 62.24-25.76Q568-544.853 568-581.426q0-36.574-25.76-62.241-25.759-25.666-62.333-25.666t-62.24 25.759Q392-617.814 392-581.24q0 36.573 25.76 62.24 25.759 25.667 62.333 25.667Zm-.093-88Zm0 356.666Z"/></svg>
                                <% } %>
                            </div>
                        </div>
                    </div>

                    <!--  second main section -->
                    <div class="contain">
                        <div class="row py-4">
                            <div class="col">
                                <div class="ms-2 ms-sm-0">
                                    <h6>Dashboard</h6>
                                </div>
                            </div>
                            <div class="col px-3">
                                <div><button class="float-end btn btn-primary" style="background-color:rgb(106 162 245);color: white;border: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg>
                                     Download Result </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-3 mx-sm-0">
                        <div class="col-sm-3">
                            <div class="shadow px-3 py-3 backgrd fsd" style="border-left: 0.2rem solid rgb(78 164 245);border-radius: 4px;">
                                <span style="color: rgb(78 164 245);">Total exam added <br><span style="color: grey;margin-left: 5px;">10</span></span>
                                <svg class="svg-back" xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="M246.95-293.054q-14.718-8.359-23.474-22.866-8.757-14.508-8.757-32.544v-179.229l-81.742-45.23q-8.359-4.949-12.564-11.809-4.205-6.859-4.205-15.243t4.205-15.268q4.205-6.885 12.564-11.834l316.378-173.425q7.312-3.855 14.914-5.56 7.602-1.706 15.321-1.706 7.719 0 15.321 1.706 7.602 1.705 14.673 5.55l352.362 191.358q7.897 4.744 12.205 12.068 4.307 7.324 4.307 15.804v242.357q0 10.679-7.262 17.904-7.263 7.224-18 7.224-10.736 0-17.864-7.224-7.128-7.225-7.128-17.904v-232.307l-83.744 43.539v179.229q0 18.036-8.756 32.544-8.757 14.507-23.731 22.866L509.666-182.926q-7.153 4.205-14.755 5.91-7.602 1.705-15.321 1.705-7.719 0-15.321-1.705-7.602-1.705-15.012-5.91L246.95-293.054Zm228.024-149.613q2.436 1.539 4.68 1.539 2.244 0 4.936-1.539L773.103-600 484.59-755.461Q481.898-757 479.654-757q-2.244 0-4.68 1.539L186.897-600l288.077 157.333Zm-.385 216.742q2.436 1.539 4.873 1.539 2.436 0 5.128-1.539l203.846-111.564q3.077-1.666 4.423-4.295 1.346-2.628 1.346-6.475v-150.409l-184.334 99.872q-7.153 3.948-14.64 5.653-7.487 1.705-15.641 1.705t-15.436-1.705q-7.282-1.705-14.436-5.653L264.974-499.745v151.486q0 3.334 1.347 6.219 1.346 2.885 4.423 4.551l203.845 111.564ZM480-440.744Zm-.41 79.05Zm0 0Z"/></svg>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="shadow px-3 py-3 backgrd fsd" style="border-left: 0.2rem solid rgb(134,224,178);border-radius: 4px;">
                                <span style="color: rgb(134,224,178);">Pending exam <br><span style="color: grey;margin-left: 5px;">10</span></span>
                                <svg class="svg-back" xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" width="35"><path d="M479.795-254.616q-66.821 0-128.822 23.372-62 23.372-116.231 72.116v6.564q1.538 1.154 3.077 1.731 1.538.577 3.462.577H717.95q1.923 0 3.27-.577 1.346-.577 2.884-1.731v-3.846q-51.564-48.334-114.334-73.27-62.77-24.936-129.975-24.936Zm-289.539 66.719q55.898-54.897 130.372-85.936Q395.103-304.871 480-304.871q84.897 0 159.038 31.038 74.142 31.039 130.706 85.936v-539.282q0-4.615-3.847-8.462-3.846-3.846-8.462-3.846h-554.87q-4.616 0-8.462 3.846-3.847 3.847-3.847 8.462v539.282ZM480-407.026q-53.487 0-90.794-37.308-37.308-37.307-37.308-90.794 0-53.487 37.308-90.795Q426.513-663.23 480-663.23q53.487 0 90.794 37.307 37.308 37.308 37.308 90.795t-37.308 90.794Q533.487-407.026 480-407.026Zm.157-50.255q32.33 0 55.01-22.837 22.68-22.836 22.68-55.167t-22.837-55.01q-22.836-22.68-55.167-22.68-32.33 0-55.01 22.836-22.68 22.837-22.68 55.168 0 32.33 22.837 55.01 22.836 22.68 55.167 22.68Zm-277.592 357.28q-25.788 0-44.176-18.388t-18.388-44.176v-564.614q0-25.788 18.388-44.176 18.388-18.387 44.176-18.387h67.693v-47.899q0-11.399 7.637-19.186 7.636-7.787 19.058-7.787 11.706 0 19.556 7.787 7.851 7.787 7.851 19.186v47.899h312.819v-48.596q0-11.343 7.496-18.81 7.495-7.466 18.609-7.466 11.398 0 19.056 7.524 7.658 7.524 7.658 18.68v48.668h67.437q25.788 0 44.176 18.387 18.388 18.388 18.388 44.176v564.614q0 25.788-18.388 44.176t-44.176 18.388h-554.87ZM480-535.128Zm0 384.872h244.104H234.742 480Z"/></svg>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="shadow px-3 py-3 backgrd fsd" style="border-left: 0.2rem solid rgb(255,193,102);border-radius: 4px;">
                                <span style="color: rgb(255,193,102);">Subject added <br><span style="color: grey;margin-left: 5px;">10</span></span>
                                <svg class="svg-back" xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="M325.026-184.617q-20.461 0-35.358-14.897-14.897-14.897-14.897-35.358v-58.973q0-13.564 8.987-22.423 8.987-8.859 22.295-8.859h86.256v-128.002q-38.282 5.309-77.064-6.525-38.783-11.833-66.68-39.525v-56.924h-53.539l-94.384-94.64q-12.128-11.872-11.936-25.821.192-13.948 11.936-22.563 28.564-20.744 67.987-34.5 39.422-13.756 83.576-13.756 34.257 0 71.373 10.102 37.116 10.103 68.731 32.386v-42.283q0-13.564 8.859-22.423 8.859-8.859 22.423-8.859h365.126q13.564 0 22.423 8.859 8.859 8.859 8.859 22.423v469.742q0 38.948-26.936 65.883-26.935 26.936-65.627 26.936h-402.41Zm117.538-140.51h211.795q13.564 0 22.039 8.474 8.474 8.474 8.474 22.038v17.179q0 18.487 12.038 30.525 12.039 12.039 30.526 12.039 18.231 0 30.269-12.039 12.039-12.038 12.039-30.525v-450.769h-327.18v60.104l217.999 217.999q6.334 6.334 9.372 11.5 3.039 5.167 3.039 11.577 0 10.487-7.321 17.807-7.32 7.32-17.807 7.32-6.666 0-11.897-3.102-5.231-3.103-11.821-9.693L513.385-525.436l-19.77 21q-12.18 13.256-24.41 21.359-12.231 8.102-26.641 14.513v143.437ZM217.179-606.358h81.641v83.385q18.282 11.795 35.41 16.846 17.129 5.051 33.77 5.051 26.128 0 50.27-11.461 24.141-11.462 39.936-28.077l19.385-20.616-69.283-69.283q-32.026-32.282-71.846-49.449-39.821-17.166-84.257-17.166-28 0-52.834 7.128-24.834 7.128-47.065 18.513l64.873 65.129Zm107.847 371.486h322.463q-6.154-7.128-9.513-17.654t-3.359-22.346H325.026v40Zm0 0v-40 40Z"/></svg>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="shadow px-3 py-3 backgrd fsd" style="border-left: 0.2rem solid rgb(255,87,34);border-radius: 4px;">
                                <span style="color: rgb(255,87,34);">Assessment
                                <br><span style="color: grey;margin-left: 5px;">10</span></span>
                                <svg class="svg-back" xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" width="35"><path d="M479.795-254.616q-66.821 0-128.822 23.372-62 23.372-116.231 72.116v6.564q1.538 1.154 3.077 1.731 1.538.577 3.462.577H717.95q1.923 0 3.27-.577 1.346-.577 2.884-1.731v-3.846q-51.564-48.334-114.334-73.27-62.77-24.936-129.975-24.936Zm-289.539 66.719q55.898-54.897 130.372-85.936Q395.103-304.871 480-304.871q84.897 0 159.038 31.038 74.142 31.039 130.706 85.936v-539.282q0-4.615-3.847-8.462-3.846-3.846-8.462-3.846h-554.87q-4.616 0-8.462 3.846-3.847 3.847-3.847 8.462v539.282ZM480-407.026q-53.487 0-90.794-37.308-37.308-37.307-37.308-90.794 0-53.487 37.308-90.795Q426.513-663.23 480-663.23q53.487 0 90.794 37.307 37.308 37.308 37.308 90.795t-37.308 90.794Q533.487-407.026 480-407.026Zm.157-50.255q32.33 0 55.01-22.837 22.68-22.836 22.68-55.167t-22.837-55.01q-22.836-22.68-55.167-22.68-32.33 0-55.01 22.836-22.68 22.837-22.68 55.168 0 32.33 22.837 55.01 22.836 22.68 55.167 22.68Zm-277.592 357.28q-25.788 0-44.176-18.388t-18.388-44.176v-564.614q0-25.788 18.388-44.176 18.388-18.387 44.176-18.387h67.693v-47.899q0-11.399 7.637-19.186 7.636-7.787 19.058-7.787 11.706 0 19.556 7.787 7.851 7.787 7.851 19.186v47.899h312.819v-48.596q0-11.343 7.496-18.81 7.495-7.466 18.609-7.466 11.398 0 19.056 7.524 7.658 7.524 7.658 18.68v48.668h67.437q25.788 0 44.176 18.387 18.388 18.388 18.388 44.176v564.614q0 25.788-18.388 44.176t-44.176 18.388h-554.87ZM480-535.128Zm0 384.872h244.104H234.742 480Z"/></svg>
                            </div>
                        </div>

                    </div>

                    <div class="row my-4">
                        <div class="col-sm">
                            <div class="container">
                                <div class="row">

                                    <!-- Top student -->
                                    <div class="col-sm-3 shadow backgrd">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mt-3 mb-5">
                                                        <% let sub = ["Maths","Biology","Science","English"] %>
                                                        <h6>Top Students<span class="float-end top-score-sub"> <span id="subj"><%= sub[1]  %></span><span class="ms-2"><i class="fa-solid fa-chevron-down rev-opt"></i></span></span></h6>
                                                    </div>
                                                </div>
                                                <div id="top-sel-opt-cont" class="row hide">
                                                    <div class="col">
                                                        <div style="margin-top: -40px">
                                                            <select id="top-sub-selected" onchange="sel()" class="form-select form-select-sm text-center" aria-label="Small select example">
                                                                <option selected> Select Subject</option>
                                                               <% for(i = 0; i < sub.length; i++){ %>
                                                                    <option value="<%= sub[i] %>"><%= sub[i] %></option>
                                                              <% } %>
                                                              </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3"> 
                                                    <div class="col">
                                                        <div class="std-score-cont my-3">
                                                            <div class="mx-2 score-icon-cont"><i class="fa-solid fa-user-graduate score-icon"></i></div>
                                                            <div>
                                                                <h6 class="top-score-name">Ekene Franklin Ezeunala</h6>
                                                                <span class="over-all">Overall score: <span> ##</span></span>
                                                            </div>
                                                        </div>
                                                        <!-- ############## -->
                                                        <div class="std-score-cont my-3">
                                                            <div class="mx-2 score-icon-cont"><i class="fa-solid fa-user-graduate score-icon"></i></div>
                                                            <div>
                                                                <h6 class="top-score-name">Galadima Zakari</h6>
                                                                <span class="over-all">Overall score: <span> ##</span></span>
                                                            </div>
                                                        </div>
                                                        <div class="std-score-cont my-3">
                                                            <div class="mx-2 score-icon-cont"><i class="fa-solid fa-user-graduate score-icon"></i></div>
                                                            <div>
                                                                <h6 class="top-score-name">Agnes Maduafokwa</h6>
                                                                <span class="over-all">Overall score: <span> ##</span></span>
                                                            </div>
                                                        </div>
                                                        <!-- ################ -->
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <!-- average student score -->
                                    <div class="col-sm-9">
                                        <div class="container-fuild">
                                            <div class="row">
                                                <div class="col-sm-7 mx-sm-2 my-3 my-sm-0 backgrd shadow border">
                                                   <div class="container-fuild">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h6 class="py-3 ">Students Average Score <span class="float-end"><svg class="dot-3" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="M479.788-192Q450-192 429-213.212q-21-21.213-21-51Q408-294 429.212-315q21.213-21 51-21Q510-336 531-314.788q21 21.213 21 51Q552-234 530.788-213q-21.213 21-51 21Zm0-216Q450-408 429-429.212q-21-21.213-21-51Q408-510 429.212-531q21.213-21 51-21Q510-552 531-530.788q21 21.213 21 51Q552-450 530.788-429q-21.213 21-51 21Zm0-216Q450-624 429-645.212q-21-21.213-21-51Q408-726 429.212-747q21.213-21 51-21Q510-768 531-746.788q21 21.213 21 51Q552-666 530.788-645q-21.213 21-51 21Z"/></svg></span></h6>
                                                            <div class="text-end">
                                                                <span class="negative-positive negative"><span><svg class="dot dot-negative" xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14"><path d="M480.202-240Q380-240 310-309.798q-70-69.799-70-170Q240-580 309.798-650q69.799-70 170-70Q580-720 650-650.202q70 69.799 70 170Q720-380 650.202-310q-69.799 70-170 70Z"/></svg></span> Negative</span>
                                                                <span class="negative-positive"><span><svg class="dot dot-positive" xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14"><path d="M480.202-240Q380-240 310-309.798q-70-69.799-70-170Q240-580 309.798-650q69.799-70 170-70Q580-720 650-650.202q70 69.799 70 170Q720-380 650.202-310q-69.799 70-170 70Z"/></svg></span>Positive</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col mt-5">
                                                                <div class="probar-cont">
                                                                   <div class="mx-3" style="display: flex;flex-direction: column;align-items: center;">
                                                                        <div style="display: flex;">
                                                                            <div style="display: flex;flex-direction: column;align-items: center;">
                                                                            <div class="progress-container">
                                                                                <div class="progress-bar" style="height: 40%;"></div>
                                                                            </div>
                                                                            <span class="pro-score">40</span>
                                                                            </div>

                                                                            <div style="display: flex;flex-direction: column;align-items: center;">
                                                                            <div class="progress-container2">
                                                                                <div class="progress-bar2" style="height: 20%;"></div>
                                                                            </div>
                                                                            <span class="pro-score">20</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class=""><h6>Math</h6></div>
                                                                   </div>

                                                                   <div class="mx-3" style="display: flex;flex-direction: column;align-items: center;">
                                                                        <div style="display: flex;">
                                                                        <div style="display: flex;flex-direction: column;align-items: center;">
                                                                        <div class="progress-container">
                                                                            <div class="progress-bar" style="height: 20%;"></div>
                                                                        </div>
                                                                        <span class="pro-score">20</span>
                                                                        </div>

                                                                        <div style="display: flex;flex-direction: column;align-items: center;">
                                                                        <div class="progress-container2">
                                                                            <div class="progress-bar2" style="height: 90%;"></div>
                                                                        </div>
                                                                        <span class="pro-score">90</span>
                                                                        </div>
                                                                        </div>
                                                                        <div class=""><h6>Biology</h6></div>
                                                                    </div>
                                                                    <!-- ############## -->

                                                                    <div class="mx-3" style="display: flex;flex-direction: column;align-items: center;">
                                                                        <div style="display: flex;">
                                                                            <div style="display: flex;flex-direction: column;align-items: center;">
                                                                            <div class="progress-container">
                                                                                <div class="progress-bar" style="height: 30%;"></div>
                                                                            </div>
                                                                            <span class="pro-score">27</span>
                                                                            </div>

                                                                            <div style="display: flex;flex-direction: column;align-items: center;">
                                                                            <div class="progress-container2">
                                                                                <div class="progress-bar2" style="height: 45%;"></div>
                                                                            </div>
                                                                            <span class="pro-score">45</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class=""><h6>Science</h6></div>
                                                                   </div>

                                                                   <div class="mx-3" style="display: flex;flex-direction: column;align-items: center;">
                                                                        <div style="display: flex;">
                                                                        <div style="display: flex;flex-direction: column;align-items: center;">
                                                                        <div class="progress-container">
                                                                            <div class="progress-bar" style="height: 15%;"></div>
                                                                        </div>
                                                                        <span class="pro-score">15</span>
                                                                        </div>

                                                                        <div style="display: flex;flex-direction: column;align-items: center;">
                                                                        <div class="progress-container2">
                                                                            <div class="progress-bar2" style="height: 60%;"></div>
                                                                        </div>
                                                                        <span class="pro-score">60</span>
                                                                        </div>
                                                                        </div>
                                                                        <div class=""><h6>English</h6></div>
                                                                    </div>


                                                                    <!-- ################ -->
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                   </div>
                                                </div>
                                                <!-- chart -->
                                                <div class="col-sm mb-3 mb-sm-0 shadow py-3 backgrd text-center" style="overflow-x: auto;">
                                                    <div class="py-2"><h6>Completed Assessment Performance </h6></div>
                                                    <div class="pie-chart">
                                                        <canvas id="examChart"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascript/jquery-3.6.0.min.js"></script>
    <script src="/javascript/subMenu.js"></script>
    <script src="/javascript/pieChart.js"></script>     
    <script src="/javascript/topStudent.js"></script> 
    <script src="/javascript/adminGeneralScript.js"></script>
</body>
</html>